<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      h1 {
        color: #333;
      }

      h3 {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      form {
        margin-top: 20px;
      }

      label {
        font-weight: bold;
      }

      input {
        width: 80%;
        padding: 8px;
        margin-bottom: 10px;
      }

      button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #4caf50;
        color: white;
      }

      button.copy {
        text-decoration: none;
        color: white;
        background-color: #333;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
      }
      
      a > button {
        text-decoration: none;
        color: white;
        background-color: #333;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin-top: 20px;
      }
.customURL{ 
display: flex;
align-item: center;
justify-content:center;
}


      #urlExist{
        color: red;
      }
      .customURL{
        display: inline-block;
      }

    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.name) { %>
      <h3>User Name : <%= name %></h3>
    <% } %>

    <div>
      <form method="POST" action="/url">
        <label>Enter Your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <label for="customUrlCheckbox">
          <div class="customURL">
            <p>Generate Custom URL</p>
            <input type="checkbox" id="customUrlCheckbox" name="customUrlCheckbox" value="unchecked">
          </div>
        </label>
        <div id="customURL">
        </div>    
        <% if(locals.urlExist == true) { %>
          <h3 color=red id="urlExist">URL you entered is already exist </h3> 
        <% } %>  
        <button type="submit">Generate</button>
      </form>
    </div>
    <div style="margin-top: 30px">
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>Short URL</th>
          <th></th>
          <th></th>
          <th>Clicks</th>
          <th>Redirect</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td id="<%= index + 1 %>url">https://url-shortner-2kee.onrender.com/<%= url.shortID %></td>
            <td>
              <button class="<%= index + 1 %>" onclick="copyToClipboard(this.className)">copy</button>
            </td>
            <td>
              <form action="/url/delete" method="post" >
                <input type="hidden" name="shortID" value="<%= url.shortID %>">
                <button type="submit">delete</button>
              </form>
            </td>
            <td><%= url.visitHistory.length %></td>
            <td><%= url.redirectURL %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
    <a href="/user/logout"><button>logout</button></a>
  </body>
  <script>

    const checkbox = document.getElementById('customUrlCheckbox')
    checkbox.addEventListener('change', (event) => {
      if (event.currentTarget.checked) {
        const customURL = document.getElementById("customURL");
        const input = document.createElement("input");
        input.setAttribute("type","text");
        input.setAttribute("name","customURL");
        input.setAttribute("placeholder","enter here custom URL");
        input.setAttribute("id","customURLInputField");
        customURL.appendChild(input)
      } else {
        let customURLInputField = document.getElementById("customURLInputField");
        customURLInputField.remove();
      }
    })

    function copyToClipboard(className)
    {
      var copyText = document.getElementById(className+"url");
      navigator.clipboard.writeText(copyText.innerText);
      alert("short url copied to clipboard");
    }
  </script>
</html>
